In [1]:
import sys
import os

# Add the parent directory to sys.path
sys.path.append(os.path.abspath('..'))

In [62]:
import pandas as pd
import numpy as np
from src.dataset import HarvestDataset
import src.preprocessing as pre
from src.model import HarvestModel
from torch.utils.data import DataLoader
import torch.nn as nn
import torch.optim as optim
from src.table import CherryTable

In [3]:
train,test, mappings, test_meta= pre.separate_year('../data/planting_meta.json','../data/y.csv','../data/mapping_dict.json')

In [13]:
# Create reverse mapping dictionary for each category
reverse_mappings = {}
for category in mappings:
    reverse_mappings[category] = {v: k for k, v in mappings[category].items()}

In [4]:
from src.utils import train_harvest_model, predict_harvest

In [ ]:
model = train_harvest_model(train,num_epochs=30

Epoch [1/30], Loss: 5649810.8333
Epoch [2/30], Loss: 4261617.7071
Epoch [3/30], Loss: 4190472.6301
Epoch [4/30], Loss: 4178336.2298
Epoch [5/30], Loss: 4172360.1641
Epoch [6/30], Loss: 4112028.0202
Epoch [7/30], Loss: 4039143.0006
Epoch [8/30], Loss: 3896578.9773
Epoch [9/30], Loss: 3779061.5101
Epoch [10/30], Loss: 3660508.2071
Epoch [11/30], Loss: 3479359.0650
Epoch [12/30], Loss: 3298353.0688
Epoch [13/30], Loss: 3150520.3365
Epoch [14/30], Loss: 3035203.6490
Epoch [15/30], Loss: 3001431.8908
Epoch [16/30], Loss: 2976561.7828
Epoch [17/30], Loss: 2959574.4874
Epoch [18/30], Loss: 2950814.2449
Epoch [19/30], Loss: 2945490.9653
Epoch [20/30], Loss: 2938918.6862
Epoch [21/30], Loss: 2936736.4577
Epoch [22/30], Loss: 2935978.2086
Epoch [23/30], Loss: 2925530.8703
Epoch [24/30], Loss: 2934254.5720
Epoch [25/30], Loss: 2927112.7292
Epoch [26/30], Loss: 2950315.4015
Epoch [27/30], Loss: 2927619.9823
Epoch [28/30], Loss: 2912302.0650
Epoch [29/30], Loss: 2910471.9034
Epoch [30/30], Loss: 2905035.5253

In [51]:
preds = predict_harvest(model, test)

In [52]:
meta = test_meta[['WeekTransplanted','Ranch','Class','Type','Variety','Ha']].copy()

In [53]:

meta['Ranch'] = meta['Ranch'].map(reverse_mappings['Ranch'])  
meta['Class'] = meta['Class'].map(reverse_mappings['Class']) 
meta['Type'] = meta['Type'].map(reverse_mappings['Type'])
meta['Variety'] = meta['Variety'].map(reverse_mappings['Variety'])

In [54]:
preds

array([[-7.7057773e-01,  1.3213592e+00, -7.2243923e-01, ...,
         7.2730902e+02,  4.2975745e-01,  8.8313383e-01],
       [-9.4254607e-01,  1.0079455e+00, -1.6247321e+00, ...,
         6.5629742e+02,  3.4394169e-01,  3.1193036e-01],
       [-8.8476306e-01,  1.0559405e+00, -9.4653058e-01, ...,
         7.0196429e+02,  3.5933861e-01,  4.0187752e-01],
       ...,
       [-9.8287684e-01, -1.8603301e-01, -2.2914395e+00, ...,
         7.2004944e+02, -4.1368121e-01, -1.4755323e+00],
       [-9.8576325e-01, -2.2155263e-01, -2.2704186e+00, ...,
         7.1926538e+02, -4.4936162e-01, -1.4828892e+00],
       [-1.0945431e+00, -4.3431321e-01, -2.5391388e+00, ...,
         6.9518457e+02, -4.6236476e-01, -1.9520202e+00]],
      shape=(155, 26), dtype=float32)

In [60]:
pd.DataFrame(preds[:,:20])

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19
0,-0.770578,1.321359,-0.722439,3.216127,-0.585939,5.955697,5.720130,5.078951,8.518236,36.777279,124.756859,428.600891,869.928101,1331.881470,1709.846191,1909.698730,1930.118408,1773.611206,1539.084473,1133.098877
1,-0.942546,1.007946,-1.624732,2.675429,-1.503660,3.604256,3.360706,3.037250,7.311403,35.030663,112.683685,386.291077,782.032288,1199.804443,1542.666382,1721.099854,1737.090942,1597.984863,1388.161621,1020.773315
2,-0.884763,1.055941,-0.946531,3.009094,-0.927483,4.920063,4.875239,4.424631,8.108194,36.154465,120.536293,413.452240,838.486633,1284.611450,1650.009277,1842.359375,1860.927002,1710.761475,1485.054443,1092.923096
3,-0.660135,1.313807,-0.646378,3.169189,-0.507293,5.942293,5.905768,5.317966,8.537829,36.923782,125.031242,429.166077,871.048828,1333.733887,1712.600098,1912.494141,1932.938354,1776.284180,1541.166992,1134.426392
4,-0.367339,0.871829,2.404610,-0.418208,-0.009687,0.852629,-1.523242,0.529395,5.836802,9.022941,20.255278,74.181084,158.088196,254.035721,326.021362,372.644073,377.411652,355.709198,311.289612,234.177094
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
150,-0.989974,1.383557,6.024565,-0.122444,-2.017697,-0.522406,-2.927233,1.983113,4.749850,13.871475,23.007204,87.021126,184.203247,299.164337,384.680511,436.583679,437.647003,407.655121,360.011505,266.171387
151,-0.333349,0.860945,2.362090,-0.387868,0.057866,0.957594,-1.480119,0.469326,5.724334,8.763458,20.105501,73.328934,156.437515,251.099731,322.224121,368.510040,373.195282,351.947357,307.914948,231.790268
152,-0.982877,-0.186033,-2.291440,1.993432,-1.527253,5.104069,3.546546,2.869876,8.703796,37.902588,120.786324,419.714752,849.433960,1301.446899,1668.731567,1864.942505,1883.433472,1729.839722,1499.454468,1106.687012
153,-0.985763,-0.221553,-2.270419,1.994592,-1.485502,5.058120,3.567799,2.872125,8.687529,37.856022,120.699333,419.270538,848.547180,1300.104492,1666.988159,1862.998291,1881.408936,1728.011108,1497.841675,1105.527466
154,-1.094543,-0.434313,-2.539139,1.784583,-1.900123,4.094985,2.674968,2.205749,8.308936,37.311035,116.611458,404.844971,818.536377,1255.006104,1609.951782,1798.800049,1815.484131,1668.099854,1446.407959,1067.233398

,0,1,2,3,4,5,6,7,8,9,...,16,17,18,19,20,21,22,23,24,25
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.000000,0.000000,...,621.347900,1016.306335,1544.696655,1772.865234,5843.250000,1.127994,17.303783,797.133484,0.252897,0.343913
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.000000,0.000000,...,278.283234,645.255127,949.782959,1176.481934,3430.350098,1.327498,17.510246,419.906555,0.284556,0.269021
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.000000,0.000000,...,250.975815,594.905640,1101.726318,1215.484253,3516.449951,1.451323,17.585922,385.335358,0.293197,0.225188
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.000000,0.000000,...,98.867607,459.185120,1012.843750,2017.997803,4155.899902,1.500000,17.872316,1134.201416,0.652266,0.511016
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.000000,0.000000,...,78.830612,227.732880,675.065308,1527.186646,2695.350098,1.500000,18.080027,1037.362915,0.785087,0.683193
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
150,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.000000,0.000000,...,84.508614,76.318352,134.394760,74.456932,521.849976,0.798966,16.416643,59.485714,0.150420,0.406065
151,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.000000,0.000000,...,72.698128,59.067226,211.898514,152.831284,670.950012,0.797958,16.893188,171.788895,0.281608,0.856662
152,0.0,0.0,0.0,0.0,0.0,0.0,0.0,11.061526,40.558929,40.558929,...,1011.962036,673.412292,557.098694,94.525772,7732.274902,0.662908,13.697089,241.323456,0.055275,0.168345
153,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.000000,47.666668,...,444.000000,300.000000,0.000000,0.000000,2327.448975,1.112622,14.461264,58.717384,0.107213,0.104730
154,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,12.301126,49.204506,...,1319.637573,1381.826538,1190.817383,805.382080,10222.799805,0.615554,15.021666,452.379791,0.051019,0.215020